xml/circuito.dtd

<!--
  DTD para describir la gramática del archivo circuito.xml.
  Pensado para facilitar:
    - Parsing en Python (elementos y atributos con nombres consistentes en minúsculas, sin espacios ni
acentos).
    - Migración futura a XML Schema (XSD) manteniendo la misma estructura.
-->

<!ELEMENT circuito (nombre, longitud, anchuraMedia, fechaCarrera, horaInicio, vueltas, localidad, pais, patrocinador, referencias, galeriaFotos, galeriaVideos, puntoOrigen, tramos, vencedor, clasificacionMundial)>
<!ATTLIST circuito
  version CDATA #IMPLIED
  xml:lang CDATA #IMPLIED>

<!ELEMENT nombre (#PCDATA)>

<!ELEMENT longitud (#PCDATA)>
<!ATTLIST longitud unidad (metros) #REQUIRED>

<!ELEMENT anchuraMedia (#PCDATA)>
<!ATTLIST anchuraMedia unidad (metros) #REQUIRED>

<!ELEMENT fechaCarrera (#PCDATA)>
<!ATTLIST fechaCarrera
  formato (YYYY-MM-DD) #IMPLIED
  calendario (gregoriano) #IMPLIED>

<!ELEMENT horaInicio (#PCDATA)>
<!ATTLIST horaInicio
  zona CDATA #IMPLIED
  formato (HH:MM) #IMPLIED>

<!ELEMENT vueltas (#PCDATA)>

<!ELEMENT localidad (#PCDATA)>
<!ELEMENT pais (#PCDATA)>
<!ELEMENT patrocinador (#PCDATA)>

<!ELEMENT referencias (ref, ref, ref, ref*)>
<!ELEMENT ref (#PCDATA)>

<!-- Fotos: mínimo 1, máximo 5 -->
<!ELEMENT galeriaFotos (foto, foto?, foto?, foto?, foto?)>
<!ELEMENT foto EMPTY>
<!ATTLIST foto
  archivo CDATA #REQUIRED
  titulo CDATA #IMPLIED
  tipo (jpg|jpeg|png|gif|webp) #IMPLIED>

<!-- Vídeos: mínimo 1, máximo 3 -->
<!ELEMENT galeriaVideos (video, video?, video?)>
<!ELEMENT video EMPTY>
<!ATTLIST video
  archivo CDATA #REQUIRED
  titulo CDATA #IMPLIED
  tipo (mp4|mov|mkv|webm) #IMPLIED>

<!ELEMENT puntoOrigen (longitudGeo, latitudGeo, altitudMSNM)>
<!ELEMENT longitudGeo (#PCDATA)>
<!ELEMENT latitudGeo (#PCDATA)>
<!ELEMENT altitudMSNM (#PCDATA)>
<!ATTLIST altitudMSNM unidad (metros) #IMPLIED>

<!ELEMENT tramos (tramo+)>
<!ELEMENT tramo (distancia, puntoFinal, sector)>
<!ELEMENT distancia (#PCDATA)>
<!ATTLIST distancia unidad (metros) #REQUIRED>
<!ELEMENT puntoFinal (longitudGeo, latitudGeo, altitudMSNM)>
<!ELEMENT sector (#PCDATA)>

<!ELEMENT vencedor (piloto, tiempoTotal)>
<!ELEMENT piloto (#PCDATA)>
<!ELEMENT tiempoTotal (#PCDATA)>
<!ATTLIST tiempoTotal formato (HH:MM:SS.mmm) #IMPLIED>

<!ELEMENT clasificacionMundial (pos1, pos2, pos3)>
<!ELEMENT pos1 (piloto)>
<!ELEMENT pos2 (piloto)>
<!ELEMENT pos3 (piloto)>
<!ELEMENT puntos (#PCDATA)>
<!ATTLIST puntos unidad (pts) #IMPLIED>